{% extends 'base.html' %}


{% block content %}
<br>
<h3>로그인</h3>
<br>

<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">아이디</label>
        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">비밀번호</label>
        <input type="password" name='password' class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
</form>
    <a href="{% url 'accounts:signup' %}"><button class="btn btn-primary">회원가입</button></a>
{% endblock content %}