{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<h3>{{ member.nickname }} 프로필</h3>
<img src="{{ member.image.url }}" alt="profile_image" style="width:100px;">

<p>
        <a href="{% url 'users:following' member.username %}">팔로잉 : {{ member.followings.count }}</a>
        <a href="{% url 'users:follower' member.username %}">팔로워 : {{ member.followers.count }}</a>
</p>

<div>
{% if request.user != member %}
<form action="{% url 'users:follow' member.pk %}" method="POST">
    {% csrf_token %}

    {% if request.user in member.followers.all %}
        <button type="submit">언팔로우</button>
    {% else %}
        <button type="submit">팔로우</button>
    {% endif %}
</form>
{% endif %}
</div>
<br>  
<hr>
<p>가입일 : {{ member.date_joined }}</p>
<hr>
<p>{{ member.content }}</p>
<hr>
<ol> 찜한상품
{% for product in products %}
    <li><a href="{% url 'products:detail' product.pk %}">{{product.title }}</a></li>
{% endfor %}
</ol>  

{% if member == request.user %}
<a href="{% url 'users:update_profile' member.username %}"><button>수정</button></a>
<form action="{% url 'accounts:delete' %}" method="POST">
    {% csrf_token %}
    <button type="submit">회원탈퇴</button>
</form>
{% endif %}

{% endblock content %}