{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<h3>{{ user.nickname }} 프로필</h3>
<img src="{{ user.image.url }}" alt="profile_image" style="width:100px;">

<br>

<hr>    
<p>자기소개</p>
<hr>
<p>{{ user.content }}</p>
<hr>
<ol> 찜한상품
{% for product in products %}
    <li><a href="{% url 'products:detail' product.pk %}">{{product.title }}</a></li>
{% endfor %}
</ol>  

<hr>
{% if user == request.user %}
<a href="{% url 'users:update_profile' user.username %}"><button>수정</button></a>
<form action="{% url 'accounts:delete' %}" method="POST">
    {% csrf_token %}
    <button type="submit">회원탈퇴</button>
</form>
{% endif %}
{% endblock content %}