{% extends 'base.html' %}


{% block content %}


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in product_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <a href="{% url 'products:detail' product.id %}">
                            <title>Placeholder</title>
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.image}}" style="width:420px; height:200px;">
                                {% endif %}

                        <div class="card-body">
                            <p class="card-text">{{ product.title }}</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <small class="text-muted">{{ product.created_at }}</small>
                                <small class="text-muted">{{ product.user.nickname }}</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="container">
    <ul class="pagination pagination-lg">
        {% if request.GET.search %}
        {% if product_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ product_list.previous_page_number }}&search={{ request.GET.search }}">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        {% endif %}
        
        {% for page_number in product_list.paginator.page_range %}
            {% if page_number == product_list.number %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ page_number }}&search={{ request.GET.search }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}&search={{ request.GET.search }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endfor %}
    
        {% if product_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ product_list.next_page_number }}&search={{ request.GET.search }}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">&raquo;</a>
        </li>
        {% endif %}


        {% else %}
        {% if product_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ product_list.previous_page_number }}">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        {% endif %}
        
        {% for page_number in product_list.paginator.page_range %}
            {% if page_number == product_list.number %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if product_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ product_list.next_page_number }}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">&raquo;</a>
        </li>
        {% endif %}
        {% endif %}
    </ul>
</div>

    {% endblock content %}