{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock head%}

{% block content %}
<main class="container">

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            </div>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <p class="blog-post-meta"><a href="{% url 'users:profile' product.user.username %}">{{ product.user.nickname }}</a> | {{ product.created_at }}</p>
        <div class="inline-block">
            <h2 class="display-5 link-body-emphasis mb-1"> {{ product.title }} </h2>
                조회수 : {{ product.views }}
        </div>

            <hr>
            <p>
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.image}}" style="width: 400px;">
                {% endif %}
            </p>

            <p>{{ product.content }}</p>
            

            {% if product.user == request.user %}
            <p><a href="{% url 'products:update' product.pk %}"><button>수정</button></a>

            <form action="{% url 'products:delete' product.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit">삭제</button>
            </form>
            {% endif %}

            <form action="{% url 'products:like' product.pk %}" method="POST">
                {% csrf_token %}
                {% if request.user in product.like_users.all %}
                <button type="submit">안좋아요</button>
                {% else %}
                <button type="submit">좋아요</button>
                {% endif %}
            </form>

            </p>
            <hr>
            <p>댓글</p>
            <form action="{% url 'products:create_comment' product.pk %}" method="POST">
                {% csrf_token %}
                <input type="text" name="content">
                <button type="submit">작성</button>
            </form>
            <ol>
                {% for comment in comments %}
                <li>
                    <span id="{{ comment.pk }}">{{ comment.content }}</span>
                    | {{ comment.user.nickname }} | {{comment.updated_at }}
                    {% if comment.user == request.user %}
                    <button onclick="update_comment({{ comment.pk }})">수정</button> |
                    <form action="{% url 'products:delete_comment' comment.pk %}" method="POST"
                        style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">삭제</button>
                    </form>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>

        </div>
    </div>


    <script>
        function update_comment(comment_pk) {
            var comment = document.getElementById(comment_pk).innerText;
            var update_comment = document.getElementById(comment_pk);
            var url = '/products/' + comment_pk + '/update_comment/';
            update_comment.innerHTML = '<form action="' + url + '" method="POST">' +
                '{% csrf_token %}' +
                '<input type="text" name="content" value="' + comment + '">' +
                '<button type="submit">수정</button>' +
                '</form>';
        }
    </script>

    {% endblock content %}