{% extends 'base.html' %}



{% block content %}
<h3>제목 : {{ product.title }}</h3>
<p>작성자 : {{ product.user }}</p>
<p>내용 : {{ product.content }}</p>

<a href="{% url 'products:update' product.pk %}"><button>수정</button></a>

<form action="{% url 'products:delete' product.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit">삭제</button>
</form>
<hr>

<p>댓글</p>
<form action="{% url 'products:create_comment' product.pk %}" method="POST">
    {% csrf_token %}
    <input type="text" name="content">
    <button type="submit">작성</button>
</form>
<ol>
    {% for comment in comments %}
    <li>
        <span id="{{ comment.pk }}">{{ comment.content }}</span>
        | {{ comment.user }} | {{comment.updated_at }} |
        <button onclick="update_comment({{ comment.pk }})">수정</button> |
        <form action="{% url 'products:delete_comment' comment.pk %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button type="submit">삭제</button>
        </form>
    </li>
    {% endfor %}
</ol>

<script>
    function update_comment(comment_pk) {
        var comment = document.getElementById(comment_pk).innerText;
        var update_comment = document.getElementById(comment_pk);
        var url = '/products/' + comment_pk + '/update_comment/';
        update_comment.innerHTML = '<form action="' + url + '" method="POST">' +
            '{% csrf_token %}' +
            '<input type="text" name="content" value="' + comment + '">' +
            '<button type="submit">수정</button>' +
            '</form>';
    }
</script>

{% endblock content %}