{% extends 'base.html' %}


{% block content %}

<form action="{% url 'products:update' product.pk %}" method="POST">
    {% csrf_token %}
    <br>
    <fieldset>
        <div>
            <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="제목" value="{{ product.title }}">
        </div><br>
        <div>
            <textarea class="form-control" name="content" id="exampleTextarea" rows="3">{{ product.content }}</textarea>
        </div><br>
        <div>
            <input class="form-control" type="file" id="formFile">
        </div><br>
        <button type="submit" class="btn btn-dark">작성</button>
</form>

{% endblock content %}

